.title {
  font-family: 'Source Serif 4', sans-serif;
  font-size: 80px;
  text-align: center;
  font-weight: 900;
  color: rgb(75, 0, 160);
  margin-bottom: 20px;
  text-decoration:underline;
  border-bottom: 2px solid whitesmoke;
}

@media only screen and (max-width: 600px) {
  .title {
    font-family: 'Source Serif 4', sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: rgb(45, 0, 97);
    margin-bottom: 20px;
    text-decoration:underline;
    border-bottom: 2px solid whitesmoke;
  }
  
}